# Ignore node_modules
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore environment variable files
.env
.env.local
.env.*.local

# Ignore the dist and build directories (if applicable)
build/

# Ignore coverage reports
coverage/

# Ignore temporary files
*.tmp
*.temp

# Ignore IDE specific files
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Ignore npm/yarn lock files if you're not using them
# yarn.lock
# package-lock.json
